extends layout


block content
    button(onclick="javascript:openNav();") open navigation
    div(class="sidenav", id="navigator")
        button(onclick="javascript:closeNav();") close
        each thread, tid in conversations
            div
                a(href="#thread_#{tid}") #{tid}
    each thread, tid in conversations
        div(class=userBox id="thread_#{tid}")
            each recipient in thread.recipients
                div(class="user #{recipient.number} tooltip", onclick="promptContactName(#{recipient.number})")
                    div(class="userIcon fa fa-user")
                    div(class="userName") #{contacts[recipient.number] ? contacts[recipient.number] : helpers.formatPhoneNumber(recipient.number)}
                    span(class="tooltiptext tooltip_user_#{recipient.number}") #{helpers.formatPhoneNumber(recipient.number)}
        div(class="chat")
            each msgroup in thread.messageGroups
                if msgroup.showtime == true
                    div(class="datetime", data-datetime="#{msgroup.datetime}") #{msgroup.datetime}
                div(class="#{msgroup.sender==you ? 'mine' : 'yours'} messages contact_#{msgroup.sender}", data-datetime="#{msgroup.datetime}")
                    each msg in msgroup.messages
                        div(class="message #{msg.last ? 'last' : ''} tooltip", id="message_#{msg.id}")
                            each attachment in msg.attachments
                                if attachment.endsWith("vcf")
                                    a(href="#{attachment}")
                                        div(class="fa fa-address-card")
                                else
                                    a(href="#{attachment}")
                                        img(src="#{attachment}", class="attachment")
                            p #{msg.body}
                            span(class="tooltiptext") #{msg.datetime} &nbsp;
                                a(href="http://txtifier.com/conversation/#{md5}#message_#{msg.id}") [link]
                    div(class="bubble tooltip bubble_#{msgroup.sender}", data-user-abbr="#{helpers.userAbbreviation(contacts[msgroup.sender] ? contacts[msgroup.sender] : msgroup.sender)}", onclick="javascript:setMe(#{msgroup.sender})") #{helpers.userAbbreviation(contacts[msgroup.sender] ? contacts[msgroup.sender] : msgroup.sender)}
                        span(class="tooltiptext tooltip_user_#{msgroup.sender}") #{contacts[msgroup.sender] ? contacts[msgroup.sender] : ""} #{helpers.formatPhoneNumber(msgroup.sender)}
