extends layout

block content
    each thread, tid in conversations
        div(class=userBox)
            each recipient in thread.recipients
                div(class="user #{recipient.number} tooltip", onclick="promptContactName(#{recipient.number})")
                    div(class="userIcon fa fa-user")
                    div(class="userName") #{recipient.display}
                    span(class="tooltiptext tooltip_user_#{recipient.number}") #{recipient.formattedPhoneNumber}
        div(class="chat")
            each msgroup in thread.messageGroups
                if msgroup.showtime == true
                    div(class="datetime", data-datetime="#{msgroup.datetime}") #{msgroup.datetime}
                div(class="#{msgroup.sender==you ? 'mine' : 'yours'} messages", data-datetime="#{msgroup.datetime}")
                    each msg in msgroup.messages
                        div(class="message #{msg.list ? 'last' : ''} tooltip") #{msg.body}
                            span(class="tooltiptext") #{msg.datetime}
                    div(class="#{msgroup.sender==you ? 'mine' : 'yours'} bubble tooltip", data-user-abbr="#{msgroup.userabbr}") #{msgroup.userabbr}
                        span(class="#{msgroup.sender==you ? 'mine' : 'yours'} tooltiptext tooltip_user_#{msgroup.sender}") #{msgroup.phoneformat}
